@font-face {
    src: url(fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
    font-family: Inconsolata;
}

* {
    font-family: Inconsolata, arial;
}

.room {
    background-color: rgb(229, 197, 240);
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.controls {
    background-color: rgb(183, 196, 241);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.two-column-split{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}
.window {
    background-color: rgb(119, 65, 31);
    padding: 25px;
}

.outside {

}

.outside img {
    max-inline-size: 100%;
}